.amarillo {
    position: relative;
    top: 20px;

}

.amarillo {
    background-color: yellow;
    height: 100px;
    width: 100px;
}

.rojo {
    position: relative;
    z-index: 10;

}

.rojo {
    background-color: red;
    height: 20px;
    width: 20px;
    
}