.container {
    display: grid;
    grid-template-areas:
    "header header"
    "main aside" 
    "xd xd"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 100px 100px 50px;
    gap: 5px;
}
.item {
    background: #89ece1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item--header {
    grid-area: header;

}

.item--main {
    grid-area: main;

}

.item--aside {
    grid-area: aside;

}

.item--xd {
    grid-area: xd;

}

.item--footer {
    grid-area: footer;

} 