@import url(_variables.scss);

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;

}

@keyframes contenedor {
    0% {
        background-color: rgb(177, 247, 247);

    }

    100% {
        background-color: rgb(247, 177, 177);

    }
    
}

body {
    background: linear-gradient(to bottom, #f72585, #3a0ca3);
    background-attachment: fixed;

}

.contenedor_cajas {
    animation: contenedor alternate 1000ms infinite;
    background-color: rgb(177, 247, 247);
    border: 2px solid black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px auto;
    text-align: center;
    width: 90%;

}

.caja {
    border: 1px solid red;
    margin: 5px;
    padding: 20px;
    width: 30%;

    &-uno {
        @extend .caja;
        background-color: rgb(253, 209, 173);

    }

    &-uno:hover {
        transform: rotate(160deg);

    }

    &-dos {
        @extend .caja;
        background-color: rgb(173, 253, 173);

    }

    &-dos:hover {
        transform: scale(1.2);

    }

    &-tres {
        @extend .caja;
        background-color: rgb(173, 173, 253);

    }

    &-tres:hover {
        transform: skew(15deg);

    }

    &-cuatro {
        @extend .caja;
        background-color: rgb(237, 255, 158);

    }

    &-cuatro:hover {
        transform: translate(25px);

    }

    &-cinco {
        @extend .caja;
        background-color: rgb(227, 174, 252);

    }

    &-cinco:hover {
        /* Indica el punto de rotacion */
        transform-origin: bottom right (.60px);
        transform: rotate(30deg); 

    }

    &-seis {
        @extend .caja;
        background-color: rgb(216, 253, 173);

    }

    &-seis:hover {
        transform: translate3d(12px, 50%, 3em);

    }

}

/* TRANSICIONES */
.figura {
    background-color: #f72585;
    height: 100px;
    margin: 20px;
    transition: all 550ms;
    width: 100px;

    &-cuadrado_circulo {
        @extend .figura;

    }

    &-cuadrado_circulo:hover {
        @include colorFigura(#3a0ca3);
        border-radius: 50%;

    }

    &-circulo_creciendo {
        @extend .figura;
        border-radius: 50%;


    }

    &-circulo_creciendo:hover {
        @include colorFigura(#3a0ca3);
        height: 130px;
        width: 130px;

    }

    &-circulo_mov {
        @extend .figura;


    }

    &-circulo_mov:hover {
        @include colorFigura(#c7b072);
        border-radius: 50%;
        transform: translate(-50px);

    }

}